  <a href="/users/<%= current_user.id %>">
    Back
  </a>

<div style="margin-bottom: 1rem;">
  <a href="/workouts/<%= (Date.parse(params.fetch("date")) - 1) %>/<%= current_user.id %>">
    ⬅️ Previous Day
  </a>

  <strong style="margin: 0 1rem;"><%= params.fetch("date") %></strong>

  <a href="/workouts/<%= (Date.parse(params.fetch("date")) + 1) %>/<%= current_user.id %>">
    Next Day ➡️
  </a>
</div>

<table>
  <thead>
    <tr>
      <th>Date and Time</th>
      <th>Workout Type</th>
      <th>Calories Burned</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @matching_workouts.each do |a_workout| %>
      <tr>
        <form action="/modify_workout/<%= a_workout.id %>" method="post">
          <td>
            <input type="datetime" name="query_date_time" value="<%= a_workout.workout_datetime %>">
          </td>
          <td>
            <input type="text" name="query_workout_type" value="<%= a_workout.workout_type %>">
          </td>
          <td>
            <input type="text" name="query_calories" value="<%= a_workout.calories_burned %>">
          </td>
          <td>
            <input type="text" name="query_rating" value="<%= a_workout.rating %>">
          </td>
          <td>
            <input type="hidden" name="user_id" value="<%= a_workout.user_id %>">
            <button type="submit">Save</button>
            <a href="/delete_workout/<%= a_workout.id %>">Delete</a>
          </td>
        </form>
      </tr>
    <% end %>
  </tbody>
</table>
