<div>
  <div>
    <h1>
      List of all workout reps
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new workout rep
    </h2>

    <form action="/insert_workout_rep" method="post">
      <div>
        <label for="weight_box">
          Weight
        </label>

        <input type="text" id="weight_box" name="query_weight">
      </div>

      <div>
        <label for="reps_box">
          Reps
        </label>

        <input type="text" id="reps_box" name="query_reps">
      </div>

      <div>
        <label for="set_id_box">
          Set
        </label>

        <input type="text" id="set_id_box" name="query_set_id">
      </div>

      <button>
        Create workout rep
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Weight
        </th>

        <th>
          Reps
        </th>

        <th>
          Set
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_workout_reps.each do |a_workout_rep| %>
      <tr>
        <td>
          <%= a_workout_rep.id %>
        </td>

        <td>
          <%= a_workout_rep.weight %>
        </td>

        <td>
          <%= a_workout_rep.reps %>
        </td>

        <td>
          <%= a_workout_rep.set_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_workout_rep.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_workout_rep.updated_at) %> ago
        </td>

        <td>
          <a href="/workout_reps/<%= a_workout_rep.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
