
<h1><%= Time.zone.now.to_date.strftime("%B %e, %Y") %></h1>

<% user = current_user %>

<h2>Daily Nutrition Targets</h2>
<ul>
  <li>Calories: <%= user.target_calories %> kcal</li>
  <li>Protein: <%= user.target_protein %> g</li>
  <li>Carbohydrates: <%= user.target_carbs %> g</li>
  <li>Fats: <%= user.target_fat %> g</li>
  <li>Fiber: <%= user.target_fiber %> g</li>
</ul>

<% today_meals = current_user.meals.where(date_consumed: Time.zone.now.to_date.all_day) %>

<% totals = {calories: today_meals.sum(:calories), protein: today_meals.sum(:protein), carbs: today_meals.sum(:carbs), fats: today_meals.sum(:fats), fiber: today_meals.sum(:fiber)} %>

<h2>Today's Macros</h2>
<ul>
  <li>Calories Left: <%= (user.target_calories-totals[:calories]).to_i %> kcal</li>
  <li>Protein Left: <%= (user.target_protein-totals[:protein]).to_i %> g</li>
  <li>Carbs Left: <%= (user.target_carbs-totals[:carbs]).to_i %> g</li>
  <li>Fats Left: <%= (user.target_fat-totals[:fats]).to_i %> g</li>
  <li>Fiber Left: <%= (user.target_fiber-totals[:fiber]).to_i %> g</li>
</ul>

<hr>

<% grouped_meals = today_meals.group_by(&:meal_type) %>
<% desired_order = ["Breakfast", "Lunch", "Dinner", "Snack"] %>

<h2>Today's Meals</h2>
  <td>
    <a href="/meals/<%= Time.zone.now.to_date.strftime("%Y-%B-%e") %>/<%= current_user.id %>">Edit Meals</a>
  </td>
<% desired_order.each do |type| %>
  <% meals = grouped_meals[type] %>
  <% if meals.present? %>
    <h3><%= type.capitalize %></h3>
    <ul>
      <% meals.each do |meal| %>
        <li>
          <strong><%= meal.food_name.titleize %></strong>
          <%= meal.calories %> kcal,
          Protein: <%= meal.protein %>g,
          Carbs: <%= meal.carbs %>g,
          Fat: <%= meal.fats %>g,
          Fiber: <%= meal.fiber %>g
          <strong> <br> Rating: <%= meal.rating %></strong>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<hr>

<form action="/meals">
    <input type="submit" value="Log Food" />
</form>

<form action="/workout">
    <input type="submit" value="Log Activity or Workout" />
</form>

<hr>
<button>Recommend for the rest of the day</button>
<button>Rate my plan</button>


<h1>Weekly Summary</h1>
<% grouped_meals = current_user.meals.where(date_consumed: 7.days.ago.to_date..Time.zone.now.to_date).group_by(&:date_consumed) %>

<table border="1">
  <thead>
    <tr>
      <th>Date</th>
      <th>Total Calories</th>
      <th>Total Protein (g)</th>
      <th>Total Fats (g)</th>
      <th>Total Carbs (g)</th>
      <th>Total Fiber (g)</th>
    </tr>
  </thead>
  <tbody>
    <% grouped_meals.sort_by { |date, _| -date.to_time.to_i }.each do |date, meals| %>
      <% daily_totals = {
        calories: meals.sum(&:calories),
        protein:  meals.sum(&:protein),
        fats:     meals.sum(&:fats),
        carbs:    meals.sum(&:carbs),
        fiber:    meals.sum(&:fiber)
      } %>

      <tr>
        <td><%= date.strftime("%B %e, %Y") %></td>
        <td><%= daily_totals[:calories] %></td>
        <td><%= daily_totals[:protein] %></td>
        <td><%= daily_totals[:fats] %></td>
        <td><%= daily_totals[:carbs] %></td>
        <td><%= daily_totals[:fiber] %></td>
        <td>
          <a href="/meals/<%= date.strftime("%Y-%B-%e") %>/<%= current_user.id %>">Edit Meals</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Table showing past week workout summary goes here</h1>


<hr>
