<div style="margin-bottom: 1rem;">
  <a href="/meals/<%= (Date.parse(params.fetch("date")) - 1) %>/<%= current_user.id %>">
    ⬅️ Previous Day
  </a>

  <strong style="margin: 0 1rem;"><%= params.fetch("date") %></strong>

  <a href="/meals/<%= (Date.parse(params.fetch("date")) + 1) %>/<%= current_user.id %>">
    Next Day ➡️
  </a>
</div>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Food</th>
      <th>Rating</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Fats</th>
      <th>Carbs</th>
      <th>Fiber</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @matching_meals.each do |a_meal| %>
      <tr>
        <form action="/modify_meal/<%= a_meal.id %>" method="post">
          <td>
            <input type="date" name="query_date_consumed" value="<%= a_meal.date_consumed %>">
          </td>
          <td>
            <input type="text" name="query_food_name" value="<%= a_meal.food_name %>">
          </td>
          <td>
            <input type="text" name="query_rating" value="<%= a_meal.rating %>">
          </td>
          <td>
            <input type="text" name="query_calories" value="<%= a_meal.calories %>">
          </td>
          <td>
            <input type="text" name="query_protein" value="<%= a_meal.protein %>">
          </td>
          <td>
            <input type="text" name="query_fats" value="<%= a_meal.fats %>">
          </td>
          <td>
            <input type="text" name="query_carbs" value="<%= a_meal.carbs %>">
          </td>
          <td>
            <input type="text" name="query_fiber" value="<%= a_meal.fiber %>">
          </td>
          <td>
            <input type="hidden" name="query_user_id" value="<%= a_meal.user_id %>">
            <input type="hidden" name="date" value="<%= a_meal.date_consumed.to_time.to_i %>">
            <input type="hidden" name="user_id" value="<%= a_meal.user_id %>">
            <button type="submit">Save</button>
            <a href="/delete_meal/<%= a_meal.id %>">Delete</a>
          </td>
        </form>
      </tr>
    <% end %>
  </tbody>
</table>
